# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Flask specific
instance/
.webassets-cache

# Databases
*.sqlite

# Logs
logs/
*.log

# Configuration files
*.conf

# Environment configuration
.env

# IDEs and editors
# PyCharm/IntelliJ IDEA
.idea/
*.iml

# Visual Studio Code
.vscode/

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini
RecycleBin used to store deleted files

# Recycle Bin
$RECYCLE.BIN/

# VS Code directories

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Python artifacts
*.egg-info/
dist/
build/
*.egg

# virtual environment
venv/
*.venv/
ENV/

# Dump file
*.stackdump

# Folder config file
*.ini


